<!DOCTYPE html>
	<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>КОНТУР - тестовое задание</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/theme.css">
	</head>
	<body>

		<div class="vue-app" id="app">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="task-description">
							<h1>Автокомплит</h1>
						</div>
					</div>
					<div class="col-md-12">
					  <div v-bind:class="{ errorRed: !visibleItemsSearch && message!=='' }" onsubmit="return false;" id="search">
					  	<label>Город</label>
						  <input v-model="message" v-bind:class="{ activeInput: visible }" type="text" placeholder="Введите или выберите из списка" @keyup.prevent="findMatchingElements" @click="openItems">
						  <button @click.prevent="revertVisible"></button>
						  <ul class="items" v-if="messageIfError!==''">
						  	<li class="message"><p>{{ messageIfError }}</p></li>
						  	<li class="reload"><a href="" findMatchingElements="window.location.reload()">Обновить</a></li>
						  </ul>
						  <div class="itemSearch" v-if="visible">
							  <ul class="items" v-if="visibleItemsSearch">
						  	  <template v-for="(filteredResultItem, key) in filteredResultList" v-if="filteredResultItem">
								    <li v-model="filteredResultItem" v-bind:class="{ active: filteredResultItem.key==1 }" @click="choseItem" @keyup.13="choseItem">{{ filteredResultItem.city }}</li>
								  </template>
								  <li v-if="visibleItemsSearch" class="message withItems">Показано {{ countSearch }} из {{ countAll }} найденных городов. Уточните запрос, что бы увидеть остальные.</li>
							  </ul>
							  <ul class="items" v-if="!visibleItemsSearch">
							  	<li class="message"><p>{{ messageNoResults }}</p></li>
							  </ul>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="js/kladr.json"></script>
		<script src="js/axios.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>